<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <meta name="referrer" content="no-referrer">
    <title>one_chat</title>

    <script type="text/javascript" src="__PC_JS__/jquery.min.js"></script>


    <style type="text/css">
        html, body {width:100%;height:100%;margin:auto;overflow: hidden;}
    </style>
</head>
<body>

<div id="content" style="border: 1px solid black;width:500px;height: 300px;">

</div>
<input id="msg" type="text"><input id="send" type="button" value="发送">
<script>

    $("#send").click(function () {
        $.ajax({
            type: "POST",
            url: "/chat/get_value",
            data: {},
            dataType: "json",
            error: function () {
            },
            success: function (data) {
                if(data.code == 200){

                }else{

                }
            }
        });
    });

</script>
</body>
</html>
