{include file="public/header" /}
<body class="gray-bg">
<div class="layui-fluid layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-body layui-form">
            <div class="layui-row layui-col-space10 layui-form-item ">
                <div class="layui-form-item layui-col-md-offset1 layui-col-md8">
                    <label class="layui-form-label"><em>*</em>直播房间呢称</label>
                    <div class="layui-input-block">
                        <input type="text" name="live_name" lay-verify="required" placeholder="直播房间呢称" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md-offset1 layui-col-md8">
                    <label class="layui-form-label"><em>*</em>直播源地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="live_source" lay-verify="required" placeholder="直播源地址" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md-offset1 layui-col-md8">
                    <label class="layui-form-label"><em>*</em>房间密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="live_pwd" lay-verify="required|pass" placeholder="房间密码" class="layui-input ">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md-offset1 layui-col-md8">
                    <label class="layui-form-label"><em>*</em>开播时间</label>
                    <div class="layui-input-block">
                        <input type="text" name="start_time" onfocus="wk.lay_start_date(this);" lay-verify="required" placeholder="开播时间" class="layui-input ">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md-offset1 layui-col-md8">
                    <label class="layui-form-label"><em>*</em>作假人数</label>
                    <div class="layui-input-block">
                        <input type="text" name="fake_online_user_num" lay-verify="required|number" value="0" placeholder="作假人数" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md-offset1 layui-col-md8">
                    <label class="layui-form-label"><em>*</em>直播间管理名呢称</label>
                    <div class="layui-input-block">
                        <input type="text" name="admin_nickname" lay-verify="required" value="管理员" placeholder="直播间管理名呢称" class="layui-input ">
                    </div>
                </div>
                <div class="layui-form-item layui-col-md-offset1 layui-col-md8">
                    <label class="layui-form-label">房间置顶消息</label>
                    <div class="layui-input-block">
                        <input type="text" name="top_message" value="" placeholder="房间置顶消息" class="layui-input ">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md-offset1 layui-col-md8">
                    <label class="layui-form-label"><em>*</em>房间状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="开始" checked>
                        <input type="radio" name="status" value="0" title="关闭" >
                    </div>
                </div>
                <div class="layui-form-item layui-col-md-offset1 layui-col-md8">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="component-form-element">保存
                        </button>
                        <button class="layui-btn layui-btn-primary" onclick="wk.layer_close('close')">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}
<script>
    layui.use(['form'], function() {
        var form = layui.form;
        form.on('submit(component-form-element)', function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
            $.ajax({
                url:"{:url('liveHouseAdd')}",
                type:'post',
                dataType:'json',
                data:data.field,
                success:function(res){
                    if (res.code == 200) {
                        wk.success(res.msg,'wk.layer_close()');
                    } else {
                        wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                    }
                }
            })
        });
    });
</script>
</body>
</html>